Debug/Log.txt
actionGameSample/Log.txt
actionGameSample/actionGameSample.vcxproj.user
actionGameSample/actionGameSample.vcxproj
actionGameSample/actionGameSample.vcxproj.filters
Debug/actionGameSample.exe
Debug/
.vs/actionGameSample/v15/Browse.VC.db
.vs/
actionGameSample.VC.db
actionGameSample.v12.suo
